streamlit==1.32.0
pandas==2.2.0
numpy==1.26.0
folium==0.15.1
streamlit-folium==0.14.0
plotly==5.24.1
streamlit-highcharts==0.1.9
gensim==4.3.1
scikit-learn==1.4.2
spacy==3.8.7
matplotlib==3.8.4
geopandas==1.0.1
scipy==1.13.0
fi-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fi_core_news_sm-3.8.0/fi_core_news_sm-3.8.0-py3-none-any.whl